@media screen and (min-width: 1790px) {
  .stages-of-work-box {
    background-position: right bottom;
  }
}
@media screen and (max-width: 1199px) {
  .navbar-expand-md .navbar-nav .menu-item {
    padding-right: 10px;
    padding-left: 10px;
  }
  .services-and-prices-box {
    background-size: cover;
    .cms-banner-item {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  .reviews-box .owl-carousel .cms-banner-item {
    box-shadow: none;
  }
  #employees .cms-banner-item {
    padding: 0 5px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-expand-md .navbar-nav .menu-item {
    padding-right: 5px;
    padding-left: 5px;
  }
  .phone-box {
    display: none;
  }

  .box3 {
    .vc_col-sm-4 {
      width: 50%;
    }
    .cms-banner-item {
      margin-bottom: 40px;
    }
  }

  .services-and-prices-box {
    padding-top: 60px;
    padding-bottom: 40px;
    .cms-banner-item {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  .stages-of-work-box {
    padding-top: 40px;
    h1 {
      padding-left: 0;
    }
    ul {
      padding-bottom: 10px;
      li {

        h5 {
          font-size: 18px;
        }
      }
    }
  }

  #wpgmza_map {
    height: 400px!important;
  }
  footer {
    .navbar-brand {
      margin-right: 0;
    }
  }
  .footer-widget-left p a,
  .footer-widget-right p a {
    clear: both;
    display: inline-block;
    margin-top: 4px;
  }
  .soc-box a:not(:last-child) {
    margin-right: 2px;
  }
}

@media screen and (max-width: 767px) {
  header .navbar {
    padding-top: 0;
    min-height: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-image: none;
  }
  .navbar-brand {
    padding: 10px 0;
  }
  .custom-btn {
    height: 50px;
    font-size: 16px;
  }
  a.custom-btn {
    line-height: 50px;
  }
  h1 {
    font-size: 36px!important;
  }
  .box1 {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: auto;
    .vc_row {
      padding: 0 5px;
    }
    .vc_col-sm-12>.vc_column-inner {
      padding: 15px 10px 0;
    }
    h1 {
      font-size: 34px!important;
    }
  }
  .box3 {
    padding-top: 30px;
    h1 {
      padding-left: 0;
    }
    .vc_col-sm-4 {
      width: 100%;
    }
    .cms-banner-img {
      margin: 0 auto 10px;
    }
    .text1 {
      font-size: 16px;
      text-align: center;
    }
  }
  .services-and-prices-box {
    padding-top: 30px;
    padding-bottom: 10px;
    h1 {
      padding-left: 0;
    }
    .vc_btn3-container {
      text-align: center!important;
    }
    .cms-banner-item {
      -ms-flex: 0 0 33.3333333333%;
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }
  }
  .box4 {
    background-position: right;
    padding: 30px 0 20px;
    h1 {
      padding-left: 0;
    }
    .wpcf7-form .form-inline .btn-group {
      margin-top: 12px;
    }
  }
  .reviews-box {
    padding: 40px 0;
  }

  #employees {
    padding-top: 40px;
    padding-bottom: 40px;
    h1 {
      padding-left: 0;
    }
    .cms-banner-item {
       padding: 0;
    }
    .owl-carousel {
      max-width: 85%;
      .owl-nav {
        top: 60px;
        .owl-next {
          display: block;
        }
      }
    }
  }

  body {
    margin-bottom: 350px;
  }
  footer {
    height: 350px;
    .navbar-brand {
      margin: 0 auto;
      max-width: 100%;
      text-align: center;
      .logo {
        padding: 0;
      }
    }
  }
  .catalog-sections-top {
    margin-bottom: 120px;
  }
  .fix-footer {
    position: fixed;
    width: 100%;
    height: 124px;
    left: 0;
    bottom: 10px;
    h4.table_heading {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 18px;
    }
    .table_heading_p {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
  .cell_heading {
    padding-left: 5px;
    padding-right: 5px;
  }
  .services-and-prices-modal .modal-body {
    padding: 10px;
  }
  .services-and-prices-modal .modal-content {
    background-image: none;
  }
  .services-and-prices-modal .modal-body h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .services-and-prices-modal .modal-body h1 .custom-btn {
    float: none;
    margin-top: 10px;
  }
  .modal-body {
    padding: 32px 15px 10px;
    h1 {
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 575px) {
  .services-and-prices-box {
    .cms-banner-item {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

